<!--
<p>data-binding works!</p>
<p>Hello and Welcome to {{ name }} Web Development!!</p>
<button (click) = "onButtonClicked($event)">Press Here</button>
<body></body>
<button (click)="onButtonClicked2($event)">Check MouseEvent props</button><br>

<p>I just want to say : {{out}}</p>

{{ eventLogWhichBtn }} <br>
{{ eventLogCtrlChk }} <br>
{{ eventLogAltChk }} 
<body></body>
Welcome : 
<input [(ngModel)] = "inp"/>

<div> Months:
    <select>
        <option *ngFor = "let i of months">{{i}}
        </option>
    </select>
</div>

<div>
    <span *ngIf="isavailable; else condition1">Condition is valid.</span>
    <ng-template #condition1>Condition is invalid</ng-template>
</div>


<div class="calculator">
    <input type="text" class="calculator-screen" [value]="currentNumber" disabled />
    <div class="calculator-keys">
  
      <button (click)="getOperator('+')" class="operator" value="+">+</button>
      <button (click) ="getOperator('-')" class="operator "value="-">-</button>
      <button (click) ="getOperator('*')" class="operator" value="*">×</button>
      <button (click) ="getOperator('/')" class="operator" value="/">÷</button>
      <button (click) ="getNumber('7')" value="7">7</button>
      <button (click) ="getNumber('8')" value="8">8</button>
      <button (click) ="getNumber('9')" value="9">9</button>
  
  
      <button (click) ="getNumber('4')" value="4">4</button>
      <button (click) ="getNumber('5')" value="5">5</button>
      <button (click) ="getNumber('6')" value="6">6</button>
  
  
      <button (click) ="getNumber('1')" value="1">1</button>
      <button (click) ="getNumber('2')" value="2">2</button>
      <button (click) ="getNumber('3')" value="3">3</button>
  
  
      <button (click) ="getNumber('0')" value="0">0</button>
      <button (click) ="getDecimal()" class="decimal" value=".">.</button>
      <button (click) ="clear()" class="all-clear" value="all-clear">AC</button>
      <button (click) ="button" class="equal-sign" value="=">=</button>
  
    </div>
    </div>
    -->


  


