<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Matching Engine</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="btn btn-success mr-4" href="/" data-toggle="modal" data-target= "#order_add_modal"><i class="fas fa-plus"></i>&nbsp;&nbsp;Add Order<span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="btn btn-success mr-4" href="/"><i class="far fa-list-alt"></i>&nbsp;&nbsp;All Orders<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="btn btn-success" href="/transactions"><i class="fas fa-shopping-bag"></i>&nbsp;&nbsp;Transactions</a>
        </li>
      </ul>
    </div>
  </nav>